html {
    background-color: salmon;
    font-family: "Times New Roman";
    

}

#location-body {
font-family: Arial, sans-serif;
border: thin solid black; 
width: 1000px; 
height: auto; 
color: brown;
font-size: small;
}

#footer-display{
  font-family: Arial, sans-serif;
border: thin solid black; 
width: 1000px; 
height: auto; 
color: brown;
font-size: small;
}

h1 {
 font-family: 'Gemunu Libre';
 color: aliceblue;
}

ul {
  font-size: small;
}
/* .body {

background-color: brown;
}

#seattle #lima #dubai #tokyo #paris{
font-family: Arial;
};

#location-body {
background-color: blueviolet;
}

.location-body {
    background-color: aqua;
}

body {background-color: coral;} */