html {
    background-color: salmon;
    font-family: "Times New Roman";
    

}

h1 {
  border-width: 5px;
  border: dashed blue;
}

.logo{
    position: absolute;
  top: 0px;
  left: 0px;
}
/* .body {

background-color: brown;
}

#seattle #lima #dubai #tokyo #paris{
font-family: Arial;
};

#location-body {
background-color: blueviolet;
}

.location-body {
    background-color: aqua;
}

body {background-color: coral;} */